@include media-ss {
    #main {
        height: 100%;
    
        grid-template-rows: 33% 67%;
    }

    .card {
        width: 230px;

        &__front {
            top: 50%;
            left: 2.5%;
            z-index: 2;

            #card-number {
                margin: 11.5% 0 3.5% 0;
                font-size: 16px;
            }
        }

        &__back {
            top: 15%;
            left: 12%;
            z-index: 1;
        }
    }

    #form {
        & > div {
            padding: 1rem;
        }

        .input-container,
        .input-container-type-2 {
            margin-bottom: 0;
        }
    }

    #form-container {
        #complete-state {
            margin-top: 5rem;
            width: 90%;
            align-self: center;
        }
    }
}

@include media-xs {
    .card {
        width: 280px;

        &__front {
            top: 50%;
            left: 5%;

            #card-number {
                font-size: 18px;
            }
        }

        &__back {
            top: 12%;
            left: 20%;
        }
    }

    #form {
        & > div {
            padding: 1rem;
        }
    }
}

@include media-sm {
    .card {
        width: 300px;

        &__front {
            left: 20%;

            #card-number {
                margin: 12% 0 6% 0;
                font-size: 20px;
            }
        }

        &__back {
            left: 35%;

            // #card-cvc {
            //     font-size: 13px;
            // }
        }
    }

    #form {
        & > div {
            padding: 1rem 3rem;
        }
    }
}

@include media-md {
    #main {
        grid-template-rows: 30% 70%;
    }

    .card {
        width: 350px;

        &__front {
            top: 50%;

            #card-number {
                font-size: 24px;
            }
        }

        &__back {
            top: 30%;
        }
    }

    #form-container {
        margin-top: 3rem;

        #complete-state {
            margin-top: 5rem;
            width: 80%;
            align-self: center;
        }
    }

    #form {
        & > div {
            padding: 1rem 3rem;
        }

        .input-container,
        .input-container-type-2 {
            margin-bottom: 1rem;
        }

        #btn-container {
            margin-top: 2rem;
        }
    }
}

@include media-lg {
    #main {
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
    }

    .card {
        &__front {
            top: 20%;
        }

        &__back {
            top: 50%;
        }
    }

    #form-container {
        margin-top: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        #complete-state {
            width: auto;
        }
    }

    #form {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div {
            padding: 0;
        }

        .input-container,
        .input-container-type-2 {
            margin-bottom: 10px;
        }
    }
}

@include media-lg__1100px {
    .card {
        &__front {
            left: 40%;
        }

        &__back {
            top: 52%;
            left: 55%;
        }
    }

    #form {
        width: 45%;
    }
}

@include media-xl {
    .card {
        &__front {
            left: 50%;
        }

        &__back {
            top: 50%;
            left: 60%;
        }
    }
}

@include media-sl {
    #main {
        grid-template-columns: 35% 65%;
    }
}